{% extends "base.html" %}
{% block title %}Обзор{% endblock %}
{% block header %}Текст обзора {% endblock %}

{% block content %}
<main role="main" class="container">
   <div class="row">
      <div class="col-md-3 mb-3 mt-1">
         {% include "includes/card.html" with author %}
      </div>
   </div>
     <div class="col-md-9">
        {% include "reviews/review_item.html" with review=review %}
        {% include "reviews/comments.html" with comments=comments %}
     </div>
</main>
{% endblock %}
