{% extends 'base.html'%}
{% block title%}Поиск{% endblock %}
{%block header%}{% endblock %}
{% block content %}
   {% if 'query' in request.GET %}
      <p class="text-secondary">Запрос "{{ query }}"</p>
      <p class="text-secondary">Найдено {{ total }}</p>
      {% for res in result %}
      <div class="card-body">
         <p class="card-text">
          <a href="{% url 'review_view' res.author.author res.id %}">
             <strong class="d-block text-gray-dark">{{ res.name }}</strong></a>
          {{ res|linebreaksbr }}
         </p>
      </div>
        {% empty %}
        <p>Совпадений не найдено</p>
      
      {% endfor %}
   {% else %}
      <h1>Поиск обзора</h1>
        <form action="." method="get">
           {{ form.as_p }}
           <input type="submit" class="btn btn-primary" value="Искать">
       </form>
   {% endif %}
{% endblock %}
