<div class="card"> 
  <div class="card-body"> 
    <div class="h4"> 
       {{ author.get_short_name }}  
       </div> 
          <div class="h4 text-muted"> 
             <a href=""> 
               <strong class="d-block text-gray-dark">@{{ author }}</strong>
             </a>
          </div>
        </div>
     <ul class="list-group list-group-flush"> 
        <li class="list-group-item"> 
           <div class="h6 text-muted"> 
             <!--Подписчиков: {{ author.following.count|default_if_none:"no" }} <br> 
                Подписан: {{ author.follower.count|default_if_none:"no" }}--!>
           </div> 
         </li> 
          <li class="list-group-item"> 
            <div class="h6 text-muted">
               Рейтинг: {{ rating_author|default_if_none:"0" }} 
            </div>
          </li> 
        </ul> 
