<!-- templates/about/author.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h6 text-muted">
                 <p>Баталова Анастасия</p>
                  <a href="https://github.com/batalova90">
                     <strong class="d-block text-gray-dark">Ссылка на github автора</strong>
                  </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
           <h4>Проект был выполнен в рамках курса Python/DJANGO/MYSQL от @itransition</h4>
           <h5>Все обзоры на фильмы были взяты в качестве примера с сайта kinopoisk</h5>
            {% load cloudinary %}
            <img class="card-img" src="https://res.cloudinary.com/batalova/image/upload/v1638717936/phuuh_mnpu1o.webp" alt="фууух...">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
